#reuse-document-dialog .dialog-page-menu{
    width: 40% !important;
    float: left;
    border-top: 1px solid #ccc!important;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    margin-top: -1px!important;
    border-right: none!important;
    height: 580px;
}

.page-view{
    min-height: 530px;
    max-height: 530px;
    padding: 10px !important;
    padding-bottom: 0px !important;
    float: right;
    width: 55%        
}

#preview_search_area_include,
#preview_search_area_common,
#preview_search_area_data{
    width:100%;
    margin:auto;
    text-align:left;
    overflow: hidden;
    height: 520px;
}

#preview_search_type_include,
#preview_search_type_common,
#preview_search_type_data{
    max-width:340px;
    min-width:340px;
    width:340px;
    margin-right:10px;
}

#preview_search_result_include,
#preview_search_result_common,
#preview_search_result_data{
    min-height: 320px;
    max-height: 320px;
    height: 320px;
}

#preview_list_parts_area_include,
#preview_list_parts_area_common,
#preview_list_parts_area_data{
    margin:auto;
    font-family: Arial,Times New Roman,Helvetica;
    border: 1px solid #ccc;
    border-radius: 3.01px;
    min-height: 503px;
    max-height: 240px;
    height: 240px;
    overflow: auto;
}

/*#list_title_area div#list_title,*/
#preview_list_parts_area_include div.list_line,
#preview_list_parts_area_include div.list_line_space,
#preview_list_parts_area_include ul,
#preview_list_parts_area_common div.list_line,
#preview_list_parts_area_common div.list_line_space,
#preview_list_parts_area_common ul,
#preview_list_parts_area_data div.list_line,
#previewpreview_list_parts_area_data div.list_line_space,
#preview_list_parts_area_data ul{
    width:95%;
    display:inline-block;
    margin: 0px;
    position:relative;
}

#preview_list_parts_area_include div.list_line,
#preview_list_parts_area_include div.list_line_space,
#preview_list_parts_area_common div.list_line,
#preview_list_parts_area_common div.list_line_space,
#previewpreview_list_parts_area_data div.list_line,
#preview_list_parts_area_data div.list_line_space{
    padding:5px 0;
}


#preview_str_area_include,
#preview_str_area_common,
#preview_str_area_data{
    float: right;
    width: 100%;
    padding-left: 12px;
}

#preview_link_str_show_include,
#preview_link_str_show_common,
#preview_link_str_show_data{
    max-width: 375px;
    min-width: 375px;
    width: 375px;
    margin-left: 10px;
}
.kodloading{
    width:220px;
    height:19px;
    background: url(loading.gif) no-repeat top left;
    margin:auto;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:9999;
}

#preview_list_title_area_include,
#preview_list_title_area_common,
#preview_list_title_area_data{
    width:100%;
    margin:0 auto;
    font-family: Arial,Times New Roman,Helvetica;
}

div#preview_list_parts_area_include ul
div#preview_list_parts_area_common ul,
div#preview_list_parts_area_data ul{
    width:90%;
}

li.preview_list_in_line{
    margin: 0 0 0 20px;
    position:relative;
    overflow:visible;
    list-style-type: none;
}

li.preview_list_in_line, div#preview_list_title_include,
li.preview_list_in_line, div#preview_list_title_common,
li.preview_list_in_line, div#preview_list_title_data{
    border-bottom:1px solid #e9e9e9;
}

.preview_list_in_hover{
    display:inline-block;
    width:100%;
    padding:5px 0;
    word-break: break-all;
}

#preview_list_parts_area_include div.preview_list_line:hover,
#preview_list_parts_area_common div.preview_list_line:hover,
#preview_list_parts_area_data div.preview_list_line:hover,
.preview_list_in_hover:hover{
    background-color:#ebf2f9;
    cursor:pointer;
}

.cr_radio:checked + .radio {
    background-color: #ebf2f9;
    cursor: pointer;
}

span.preview_list_title{
    margin:0 0 0 4px;
}

span.preview_li_parts_pageicon{
    width:20px;
    height:18px;
    margin:1px 0;
    float:left;
}

span.preview_li_parts_pageicon{
    background: url(page_img.png) no-repeat top left;
}

#preview_preview_loading_include,
#preview_preview_loading_common,
#preview_preview_loading_data{
    background: #fff;
    height: 100%;
    width: 100%;
    display: none; 
    align-items: center;
    justify-content: center;
}
#preview_preview_include,
#preview_preview_common,
#preview_preview_data{
    height: 406px;
    width: 100%;
    float: right;
    margin-top: 10px
}

#preview_preview_iframe_include,
#preview_preview_iframe_common,
#preview_preview_iframe_data{
    width: 100%;
    height: 100%;
}

#preview_preview_iframe_include iframe{
    width: 100%;
    height: 100%;
}

#preview_preview_iframe_common iframe {
    width: 100%;
    height: 100%;
}

#preview_preview_iframe_data iframe {
    width: 100%;
    height: 100%;
}

.cr_radio {
    display: none;
}

.arrow_icon, .arrow_icon_space{
    display:inline-block !important;
    position:absolute !important;
    z-index:999 !important;
    top:6px !important;
    left:-20px !important;
    width:12px !important;
    height:12px !important;
}

.page-select-tree-no-children{
    left:-14px !important;
    top:12px !important;
    height: 4px!important;
    width: 4px !important;
    background: #999;
    min-width: 0;
    border-radius: 2px;
}

#preview_search_result_include .arrow_icon,
#preview_search_result_common .arrow_icon,
#preview_search_result_data .arrow_icon{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAALElEQVQoz2NgGGSg4EzBTPwKOgr+F6ThVzKTsJK7Bf/JN4GgG4C+6GAYigAASNYUTGaVYwsAAAAASUVORK5CYII=) !important; 
}

#preview_search_result_include .active,
#preview_search_result_common .active,
#preview_search_result_data .active{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAMUlEQVQoz2NgGGag4ExBB5TVUXAGm4KOgv8FM4H0TAiNTUkaUOouEKfhtiYNr/SQBQAsPRRMJnnlygAAAABJRU5ErkJggg==) !important; 
    background-position: top left;
}

.arrow_icon:hover{
    filter:alpha(opacity=50);
    -moz-opacity:.5;opacity:.5;
    cursor:pointer
}

#ddl_select_include,
#ddl_select_common,
#ddl_select_data{
    padding: 3px 5px 5px 5px !important;
    vertical-align: top !important;
    height: 2em !important;
}

#kod-search-page-title_include,
#kod-search-page-title_common,
#kod-search-page-title_data{
    padding: 3px 5px 5px 5px !important;
    vertical-align: top !important;
    height: 2em !important;    
}

.dialog-page-menu button{
    max-height: 27px !important;
    margin: 3px 5px 3px 3px !important;
    border-top-color: #ccc !important;
    border-right-color: #ccc !important;
    border-bottom-color:  #ccc !important;
}

#tab-btn{
    padding-left: 10px;
    background-color: white
}

#reuse-include-btn{
    border-radius: 3.01px 0 0 0;
    outline:none;
    font-size: 12px;
    width: 90px;
    border-color: #ccc;
}

#reuse-common-btn{
    border-radius: 0 0 0 0;
    border-left: none;
    margin-left: 0px!important;
    outline:none;
    font-size: 12px;
    width: 90px;
    border-color: #ccc;
}

#reuse-data-btn{
    border-radius: 0 3.01px 0 0;
    border-left: none;
    margin-left: 0px!important;
    outline:none;
    font-size: 12px;
    width: 90px;
    border-color: #ccc;
}

.left-menu-list-search{
    border-top: 1px solid #ccc!important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border-right: none !important;
    height: 580px;
}

.border-center{
    width: 1px;
    position: absolute;
    left: 406px;
    background: #ccc;
    z-index: 0;
    top: 145px;
    height: 76.5%;
}
.aui-popover {
    max-height: 500px;
    overflow: auto;
    overflow-x: hidden;
}

.selected-tab{
    background-color: #0052cc !important;
    color: #fff !important;
}

div.preview_pagetree_children li.append {
    background-color: transparent;
}

div.preview_pagetree_children li {
    border: none !important;
}

div.preview_pagetree_children li a, 
div.preview_pagetree_children p, 
div.preview_pagetree_children h1,
div.preview_pagetree_children h2, 
div.preview_pagetree_children h3 {
    padding-left: 5px !important;
}
div.preview_pagetree_children li a{
    color: #4C4C4C;
    text-decoration: none;
}
div.preview_pagetree_children .ui-tree li .click-zone {
    display: block !important;
    /*margin: 0px -2px 5px -0.5em !important;*/
    margin: 0 !important;
    position: relative !important;
}

div.preview_pagetree_children .ui-tree li a {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    /*    text-overflow: ellipsis;
        overflow: hidden;
        width: 310px;
        height: 1.2em;
        white-space: nowrap;*/
}

div.preview_pagetree_children .ui-tree li:not(.opened):not(.closed) > .click-zone::after {
    position: absolute;
    height: 4px;
    width: 4px;
    left: 6px;
    top: 90%;
    margin-top: -5px;
    min-width: 0;
    border-radius: 2px;
    background-color: #42526E;
    content: " ";
}

div.preview_pagetree_children .ui-tree li.opened > .click-zone,
div.preview_pagetree_children .ui-tree li.closed > .click-zone{
    cursor: pointer;
}

div.preview_pagetree_children .button-panel .spinner{
    position: relative !important;
    left: 18px !important;
    top: 8px !important;
}

div.preview_pagetree_children .button-panel .abc {
    display: none !important;
}
.preview-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #555;
}

.reference-tree {
    background: #ffcc00; 
    margin-top: 3px; 
    margin-bottom: 3px
}

#ctr {
    display: none;
    position: absolute;
    margin: 0;
    padding: 2px;
    border: 1px solid gray;
    list-style-type: none;
    background: #fff;
    font-size: 0.75em;
    z-index:3000;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}
#ctr > li {
    padding: 5px 20px 5px 10px;
    cursor: default;
}
#ctr > li:hover {
    background: #06c;
    color: white;
}