#requireResource("confluence.web.resources:breadcrumbs")

#if (!$breadcrumbsId)
    #set ($breadcrumbsId = "breadcrumbs")
#end

#set ($numCrumbs = $breadcrumbs.size())

#set ($ellipsisCrumbs = $commonUtil.getEllipsisCrumbs($breadcrumbs))
#set ($ellipsisShown = false)

<ol id="$breadcrumbsId">
    #foreach( $breadcrumb in $breadcrumbs )
        #if ($ellipsisCrumbs.contains($breadcrumb))
            #set ($breadcrumbHidden = true)
            #if(!$ellipsisShown)
                <li id="ellipsis" title="$action.getText("breadcrumbs.ellipsis.tooltip")"><span><strong>&#8230;</strong></span></li>
                #set ($ellipsisShown = true)
            #end
        #else
            #set ($breadcrumbHidden = false)
        #end

        #set($showTooltip = false)
        #if($breadcrumb.tooltip)
            #set($showTooltip = true)
            #set ($toolTip = $action.getText($generalUtil.htmlEncode($breadcrumb.tooltip)))
        #end

        <li#if ($breadcrumbHidden) class="hidden-crumb" #end#if ($velocityCount == 1) class="first" #end>
            #if ($breadcrumb.displayTitle)
                #set ($displayTitle = $breadcrumb.displayTitle)
            #else
                #set ($displayTitle = $action.getText($generalUtil.htmlEncode($breadcrumb.title)))
            #end

            #if ($breadcrumb.target)
                <span class="$!breadcrumb.cssClass"><a href="$contextPath$breadcrumb.target"#if($mode == "edit" || $mode == "richtext" ) target="_blank"#end#if ($showTooltip) title="$toolTip"#end>$displayTitle</a></span>
                ## We only need to target blank here because viewing templates doesn't render breadcrumbs.
            #else
                <span class="$!breadcrumb.cssClass">$displayTitle</span>
            #end
        ## Omit the closing element as it's not required by HTML5 and it solves this problem cleanly:
        ## http://css-tricks.com/fighting-the-space-between-inline-block-elements/
        ##        </li>
    #end
</ol>
