<script type="text/x-template" title="documentkanricustomtemplate">
    $body
</script>
<script>
    $(document).ready(function () {
        var translationDirectory = AJS.template.load('documentkanricustomtemplate');
        if (translationDirectory !== null && $('#breadcrumb-section').length !== 0) {
            if (translationDirectory.toString() !== null) {
                if (translationDirectory.toString().trim() !== "") {
                    var divMain = $(document).find("#pagetreesearch");
                    var combobox = $(document).find("#manual-page-tree-version");
                    if (combobox != null || combobox.length > 0) {
                        combobox.remove();
                    }

                    if (divMain != null) {
                        divMain.after(translationDirectory);
                    }
                }
            }
        }
    });
</script>